doctype html
head
  title Pug
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
  script(src='//code.jquery.com/jquery-1.11.1.min.js')
  link(rel='stylesheet', href='/stylesheets/frontpage.css')
.container
  .row.profile
    .col-md-3
      .profile-sidebar
        // SIDEBAR USERPIC
        .profile-userpic
          img.img-responsive(src=userInfo.img_url alt='')
        // END SIDEBAR USERPIC
        // SIDEBAR USER TITLE
        .profile-usertitle
          .profile-usertitle-name
            | #{userInfo.full_name}
          .profile-usertitle-job
            | #{userInfo.username}
        // END SIDEBAR USER TITLE
        // SIDEBAR BUTTONS
        .profile-userbuttons
          button.btn.btn-success.btn-sm(type='button') Follow
          button.btn.btn-danger.btn-sm(type='button') Message
        // END SIDEBAR BUTTONS
        // SIDEBAR MENU
        .profile-usermenu
          ul.nav
            li.active
              a(href='#')
                i.glyphicon.glyphicon-home
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Home
            li
              a(href='#' target='_blank')
                i.glyphicon.glyphicon-search 
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Search 
            li
              a(href='#' target='_blank')
                i.glyphicon.glyphicon-ok
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Recommend
            li
              a(href='#')
                i.glyphicon.glyphicon-flag
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Watch Local
            li
              a(href='#')
                i.glyphicon.glyphicon-user
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Account Settings
            li
              a(href='#')
                i.glyphicon.glyphicon-user
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Profile              
        // END MENU
    .col-md-9
      .profile-content
        | Some user related content goes here...
center
  strong
br
br